<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WRLDC Actual Demand vs Forecasted Demand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" />
</head>

<body>
    <div>
        <div class="input-group mb-3 container mt-3" >
        <div class="input-group-prepend">
        <span class="input-group-text text-primary" id="inputGroup-sizing-default" >Days Offset - </span>
        </div>
        <input type="number"  id="daysOffsetInp" value="1" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-append">
        <button id="refreshBtn" type="button" class="btn btn-outline-primary">Refresh</button>
        </div>
        </div>
        </div>
        
        <div id='wrTotalDiv'></div>
        <br />
        <div id='mahDiv'></div>
        <br />
        <div id='guzDiv'></div>
        <br />
        <div id='mpDiv'></div>
        <br />
        <div id='chattDiv'></div>
        <br />
        <div id='goaDiv'></div>
        <br />
        <div id='ddDiv'></div>
        <br />
        <div id='dnhDiv'></div>
        

    </div>
    <script src="{{ url_for('static', filename='node_modules/plotly.js-dist/plotly.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/mains.js') }}"></script>
    <style>
        #wrTotalDiv,
        #mahDiv, #guzDiv,#mpDiv, #chattDiv, #goaDiv, #damanDiv, #diuDiv {
            width: 100%;
        }
    </style>
</body>

</html>