<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WRLDC Actual Demand vs Forecasted Demand</title>
</head>

<body>
    <div>
        <label for="daysOffsetInp">Days Offset - </label>
        <input type="number" id="daysOffsetInp" value="2" />
        <button id="refreshBtn">Refresh</button>
        <div id='wrTotalDiv'></div>
        <br />
        <div id='mahDiv'></div>
        <br />
        <div id='guzDiv'></div>
        <br />
        <div id='mpDiv'></div>
        <br />
        <div id='chattDiv'></div>
        <br />
        <div id='goaDiv'></div>
        <br />
        <div id='damanDiv'></div>
        <br />
        <div id='diuDiv'></div>
        

    </div>
    {# <script src="{{ url_for('static', filename='node_modules/plotly.js-dist/plotly.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/main.js') }}"></script> #}
    <style>
        #wrTotalDiv,
        #mahDiv, #guzDiv,#mpDiv, #chattDiv, #goaDiv, #damanDiv, #diuDiv {
            width: 100%;
        }
    </style>
</body>

</html>