<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WRLDC Actual Demand vs Forecasted Demand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" />
</head>

<body>
    <div>
        {# <div class="input-group mb-3 container mt-3" >
        <div class="input-group-prepend">
        <span class="input-group-text text-primary" id="inputGroup-sizing-default" >Days Offset - </span>
        </div>
        <input type="number"  id="daysOffsetInp" value="1" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-append">
        <button id="refreshBtn" type="button" class="btn btn-outline-primary">Refresh</button>
        </div>
        </div>
        </div> #}
        <div align ="center" class=" mb-3 ml-5 container mt-3" >
            <div class="row">
                <div class="col-md-4">
                    <button id="refreshBtn" type="button" class="btn btn-secondary btn-lg" style="width:75%"> Refresh Page </button>
                </div>
                <div class="col-md-4">
                    <a id = "switchAiBtn" class="btn btn-info btn-lg" href="/dfm2Home" role="button" style="width:75%">Switch To MLR Model</a>
                </div>
                <div class="col-md-4">
                    <a id="errorPortalBtn" type="button" class="btn btn-secondary btn-lg" role="button" href="http://10.2.100.56:8091/display" style="width:75%">More Information </a>
                </div>
            </div>
        </div>
        
        <div class="container mb-5"><span id= "wrTotalSpan" class="text-dark "></span><span id= "wrBlockNoSpan"class="text-dark rightSpan"></span></div><div id='wrTotalDiv'></div><div id='wrTotalActualDiv'></div>
        <br />
        <hr class ="hrStyle">
        <div class="container mb-5"><span id= "mahSpan"class="text-dark "></span><span id= "mahBlockNoSpan"class="text-dark rightSpan"></span></div><div id='mahDiv'></div><div id='mahActualhDiv'></div>
        <br />
        <hr class ="hrStyle">
        <div class="container mb-5"><span id= "gujSpan"class="text-dark "></span><span id= "gujBlockNoSpan"class="text-dark rightSpan"></span></div><div id='gujDiv'></div><div id='gujActualDiv'></div>
        <br />
        <hr class ="hrStyle">
        <div class="container mb-5"><span id= "mpSpan"class="text-dark "></span><span id= "mpBlockNoSpan"class="text-dark rightSpan"></span> </div><div id='mpDiv'></div><div id='mpActualDiv'></div>
        <br />
        <hr class ="hrStyle">
        <div class="container mb-5"><span id= "chattSpan"class="text-dark "></span><span id= "chattBlockNoSpan"class="text-dark rightSpan"></span></div><div id='chattDiv'></div><div id='chattActualDiv'></div>
        <br />
        <hr class ="hrStyle">
        <div class="container mb-5"><span id= "goaSpan"class="text-dark "></span><span id= "goaBlockNoSpan"class="text-dark rightSpan"></span></div><div id='goaDiv'></div><div id='goaActualDiv'></div>
        <br />
        <hr class ="hrStyle">
        <div class="container mb-5"><span id= "ddSpan"class="text-dark "></span><span id= "ddBlockNoSpan"class="text-dark rightSpan"></span></div><div id='ddDiv'></div><div id='ddActualDiv'></div>
        <br />
        <hr class ="hrStyle">
        <div class="container mb-5"><span id= "dnhSpan"class="text-dark "></span><span id= "dnhBlockNoSpan"class="text-dark rightSpan"></span></div><div id='dnhDiv'></div><div id='dnhActualDiv'></div>
        

    </div>
    <script src="{{ url_for('static', filename='node_modules/plotly.js-dist/plotly.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/main.js') }}"></script>
    <style>
        #wrTotalDiv,
        #mahDiv, #guzDiv,#mpDiv, #chattDiv, #goaDiv, #ddDiv, #dnhDiv {
            width: 100%;
        }

        .hrStyle {
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px #8c8b8b inset;
         }

         .rightSpan{
             float:right;
             font-size: 22px;
         }
    </style>
</body>

</html>